There are two issues Polynomial regression will adrress for us :
1. Non -Linear feature  relationships to label
2. Interaction term b/w features

*increasing power will result in more linear
*Interaction terms : what if two features are only significant when in sync with one another

X1, X2 => X1,X2,X1**2,X2**2,X1*X2

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sbn
import numpy as np

In [2]:
df=pd.read_csv("./Advertising.csv")
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [5]:
from sklearn.preprocessing import PolynomialFeatures
X=df.drop("sales",axis=1)
X

        TV  radio  newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [12]:
polynomial_features=PolynomialFeatures(include_bias=False)
polynomial_features.fit(X)
poly_=polynomial_features.transform(X)
poly_.shape

(200, 9)

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error
Y=df["sales"]
X_train, X_test,y_train,y_test=train_test_split(poly_,Y,test_size=0.30,random_state=42)

In [17]:
model=LinearRegression()
model.fit(X_train,y_train)
prediction=model.predict(X_test)

In [18]:
mean_error=mean_absolute_error(y_test,prediction)
mean_error

0.5905974833808012

In [19]:
mean_square_error=mean_squared_error(y_test,prediction)
mean_square_error

0.52319449490554

In [20]:
np.sqrt(mean_square_error)

0.723321847385754