In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'/Users/user/Negi/Machine Learning/Pandas'

In [3]:
df=pd.read_csv("../data/03-pandas/example.csv")
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [4]:
df=pd.read_csv("../data/03-pandas/example.csv",header=None)
df

    0   1   2   3
0   a   b   c   d
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

In [5]:
df=pd.read_csv("../data/03-pandas/example.csv",index_col=0)
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [6]:
#keep the index column
df.to_csv("example.csv",index=True)

In [7]:
df2=pd.read_csv("example.csv")
df2

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [8]:
# will not keep the index column
df.to_csv("example.csv",index=False)

In [9]:
df2=pd.read_csv("example.csv")
df2

    b   c   d
0   1   2   3
1   5   6   7
2   9  10  11
3  13  14  15