pandas treats an excel as a dictionary , with the key being the sheet name and value being the dataframe represeting the shet itself

In [2]:
import pandas as pd

In [29]:
df=pd.read_excel("../data/03-pandas/my_excel_file.xlsx",sheet_name="First_Sheet")
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [28]:
#gives all excel sheet names
excelFile=pd.ExcelFile("../data/03-pandas/my_excel_file.xlsx")
excelFile.sheet_names

['First_Sheet']

In [30]:
#we can read entire file by giving sheet_name=None which return as dictionary
excel_sheet_dict=pd.read_excel("../data/03-pandas/my_excel_file.xlsx",sheet_name=None)

In [31]:
excel_sheet_dict

{'First_Sheet':     a   b   c   d
 0   0   1   2   3
 1   4   5   6   7
 2   8   9  10  11
 3  12  13  14  15}

In [32]:
type(excel_sheet_dict)

dict

In [33]:
df=excel_sheet_dict["First_Sheet"]

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [50]:
#write without sheet name, pandas will automatically give sheet name
df.to_excel("my_excel.xlsx",index=False)

In [51]:
my_excel=pd.read_excel("my_excel.xlsx")
my_excel

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [49]:
a=pd.read_excel("my_excel.xlsx",sheet_name=None)
a

{'Sheet1':     a   b   c   d
 0   0   1   2   3
 1   4   5   6   7
 2   8   9  10  11
 3  12  13  14  15}

In [56]:
#write with a sheet name
df.to_excel("my_excel.xlsx",index=False,sheet_name="my_sheet")
my_excel=pd.read_excel("my_excel.xlsx",sheet_name=None)
my_excel

{'my_sheet':     a   b   c   d
 0   0   1   2   3
 1   4   5   6   7
 2   8   9  10  11
 3  12  13  14  15}