# Series is a data structure in pandas that holds an array info along with a named index
The named index differentiates this from a simple  numpy array
Formal  defination : 1 d array with axis lables

In [37]:
import pandas as pd
import numpy as np

In [4]:
# help(pd.Series)

In [5]:
data=[1992,1994,1997]
series=pd.Series(data=data)

In [6]:
series

0    1992
1    1994
2    1997
dtype: int64

In [7]:
state=["Uk","CHD","PKL"]

In [9]:
series1=pd.Series(data=data,index=state)

In [10]:
series1

Uk     1992
CHD    1994
PKL    1997
dtype: int64

In [11]:
series1["PKL"]

1997

In [12]:
series1[1]

1994

In [14]:
series2=pd.Series(data,state)
series2

Uk     1992
CHD    1994
PKL    1997
dtype: int64

In [18]:
obj1={"name":"neeraj","age":26,"occupatioj":"software developer"}
series3=pd.Series(obj1)
series3

name                      neeraj
age                           26
occupatioj    software developer
dtype: object

In [21]:
q1={"Japan":80,"China":450,"India":200,"USA":250}
q2={"Brazil":100,"China":500,"India":210,"USA":260}

In [43]:
series3=pd.Series(q1)
series4=pd.Series(q2)
series3

Japan     80
China    450
India    200
USA      250
dtype: int64

In [27]:
series4

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [28]:
series4.keys()

Index(['Brazil', 'China', 'India', 'USA'], dtype='object')

In [35]:
[1,2,4]*2

[1, 2, 4, 1, 2, 4]

In [38]:
np.array([1,2,4])*2

array([2, 4, 8])

In [42]:
series4*2

Brazil     400
China     2000
India      840
USA       1040
dtype: int64

In [44]:
series4/2

Brazil     50.0
China     250.0
India     105.0
USA       130.0
dtype: float64

In [45]:
series4+series3

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [ ]:
# brazil and japan is nan because they